body{
	margin-top: 70px;
	background-color: #fff;
	font-family: Microsoft YaHei;
	height: 100%;
}

label{
	font-size: 16px;
}

/*custom footer style*/
.footer {
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: rgba(255,255,255,0.3);
}

.footer .container{
	margin-top: 15px;
}

/*custom navbar style*/
.navbar-brand{
	color: #000;
}

.logo-responsive{
	width: 25px;
	height: 25px;
}

.sub-header {
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.name-offset{
	margin-top: 2px;
	margin-right: -45px;
}

@media(min-width: 768px){
	.container-fluid{
		width: 80%;
	}
	.container{
		width: 80%;
		height: 100%;
	}
	.container.addstaff-form{
		width: 50%;
	}
	.form-group{
		margin-bottom: 20px;
	}
}

@media(min-height: 600px){
	.footer{
		margin-top: 100px;
	}
}

/*custom check style*/

.check-wrong{
	font-size: 20px;
	color: red;
	margin-top: 2px;
	margin-left: -20px;
}
.check-ok{
	font-size: 20px;
	color: green;
	margin-top: 2px;
	margin-left: -20px;
}

.submit-btn{
	width: 150px;
	font-size: 18px;
}